<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>

    </head>
    <body>
<p>running</p>

	<script src="./public/assets/js/jquery-3.2.1.min.js"></script>
    <script>

    console.log("dsfd");

    </script>

    </body>
</html>